@import url('https://fonts.googleapis.com/css2?family=Amita&family=Codystar&family=Crafty+Girls&family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

:root{
    --fc-title: rgb(0, 0, 0);
    --fc-nav-button: rgb(0, 0, 0);
    --fc-text:  white;
    --fc-author: white;
    --fc-circular-button: white ;

    --fs-title: 30pt;
    --fs-nav-button: 16pt;
    --fs-text:  20pt;
    --fs-author: 16pt;
    --fs-circular-button: 24pt;

    --ff-1: 'Amita', cursive;
    --ff-2: 'Special Elite', cursive;

    --ff-title: var(--ff-1);    
    --ff-nav-button: var(--ff-2);
    --ff-text: var(--ff-2);
    --ff-author: var(--ff-2);
    --ff-circular-button: var(--ff-);
    --bg-center: url('../../images/text-writer.jpg');
    --bg-border: url('../../images/text-writer.jpg');
    --bg-border-filter: brightness(40%);
}

header, .nav-button{
    text-shadow: 1px 1px rgb(85, 77, 77), -1px -1px rgb(255, 255, 255) ;
}

.invisible{
    display: none;
}

.quote{
    color: black;
    border-radius: 10px;
    line-height: 1.3em;
    
    border: 1px white ;
    box-shadow: 10px 10px 10px -3px black;

    background-color: rgba(30, 1, 1, 0.382);
}

.bg-img{
    background-position: 20% 20%;
    background-color: transparent;
}

.circular-button{
    border: 0.2em double white;
}

@media screen and (max-width: 750px) {
    body{
        --fs-nav-button: 9pt;
    }

    .nav-button{
        margin-top: 8px;
    }
}   
