.quote{
    font-size: var(--fs-text);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: min(800px, 100%);
    min-height: 5em;

    padding: 1.5em;

    overflow: auto;

    border-radius: 10%;

    background-color: rgba(0, 0, 0, 0.566);
}
.quote__text{
    color: var(--fc-text);
    font-size: var(--fs-text);
    font-family: var(--ff-text);
    text-align: center;
    
    max-width: 800px;
}

.quote__author{
    color: var(--fc-author);
    font-size: var(--fs-author);
    font-family: var(--ff-author);

    margin-top: 1em;
}

